.textInput
{
    border-radius: 0px !important;
    width: 280px;
    margin-bottom: 15px;
}

#submit
{
    border-radius: 8px;
    color: white;
    background-color: #b9567b;

    width: 207px;
    height: 50px;
    font-size: 25px;

    margin-top: 25px;
    margin-bottom: 15px;
}   

#submit:disabled,
#submit[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.star
{
    color: red;
    font-weight: bold;
}

