input
{
    font-size: large;
}


#title, #description
{
    width: calc(100% - 32px);
    border-radius: 5px !important;
    border: solid 1px #f59a9a;
    margin-bottom: 15px;
    padding: 5px
}

#title
{
    height: 30px;
}

#description
{
    height: 150px;
}

.shooting_date, .location, .hashtag
{
    height: 35px;
    margin-top: 10px;
    margin-left: 16px;
    padding: 5px;
    width: calc(100% - 30px);
    border-radius: 5px !important;
    background-color: #f59a9a;
}

.pays, #picture
{
    margin-top: 15px;
    margin-left: 16px;
    width: calc(100% - 16px);
    height: 30px;
    border-radius: 0 !important;
}

.new-post-input
{
    display: flex;
}

.one-input-form-container
{
    width: 100%;
    display: flex;
    justify-content: center;
}
