html, body, #root
{ 
    margin:0; 
    height: 100%;
}

.login-page
{
    background-image: url(../images/roadTrip.jpg);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 479px) {
    .container-login
    {
        width: 350px !important;
    }
}

.container-login
{
    width: 500px;
    padding-bottom: 15px;
    border: solid 1px #000000;
    background-color: white;
}

.header-login
{
    background-color: #B9567B;
    color: #FFFFFF;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    font-size: 20px;

}

.content-login
{
    text-align: center;
}