.small
{
    width: 100%;
    justify-content: space-between;
}

.top_small_nav
{
    display: flex;
    background-color:  #EAEAEA !important;
}
.bottom_small_nav
{
    top: auto;
    bottom: 0;
}

.large_nav
{
    height: 56px !important; 
    /* padding: 0!important; */
}

.large_nav, .bottom_small_nav
{
    background-color: #B9567B !important;
}

.nav__menu
{
    display: flex;
    flex-direction: row;
    /* font-size: 18px;
    font-weight: 500; */

    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;


}

.parameter-menu
{
    width: 100%;
    justify-content: flex-end;
    
}

li
{
    list-style-type: none;
}

.nav-link
{
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link:hover
{
    color: #f2f2f2
}

.push
{
    margin-left: auto;
}

input
{
    border-radius: 15px !important;

    margin-top: 5px;
    margin-left: 16px;
    margin-right: 16px;

    height: 20px;
    width: 200px;
}

.search_input
{
    display: flex;
    border-radius: 10px;
    background-color: white;
    width: 100%;   
    margin-left: 25px;
}

.search_icon
{
    padding-left: 5px;
    padding-top: 4px;
    color: #868686;
    
}

.notification-link
{
    text-decoration: none;
}

.notification_container
{
    padding: 0 5px;
}