.post-background
{
    background-image: url(../images/roadTrip.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: calc(100% - 86px);
    padding: 15px;

    overflow: auto;
}

@media screen and (max-width: 599px) {
    .post-background
    {
        height: calc(100% - 142px) !important;
    }
}

.form-container
{
    background-color: #ffffff;
    /* box-shadow: 4px 2px 2px rgb(214, 211, 226);
    padding: 15px; */
}

.form-header
{
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bolder;
}

.form-inputs
{
    padding: 15px;
}



