.general-form-container
{
    height: 100%;
    overflow: auto;

    background-image: url(../images/roadTrip.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container
{
    background-color: #ffffff;
    border: solid 2px black;
    padding: 0;

}

.form-header
{
    background-color: #B9567B;
    color: #FFFFFF;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    font-size: 20px;
}

.form
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


