.MuiDialog-paperWidthSm
{
    max-width: 1050px !important;
}

.swal2-container{
    z-index: 2000;
}


.single_post_card
{
    width: 1000px;
    height: 730px;
    overflow: auto !important;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

    display: grid;
}

.single_post_media
{
    height: 400px;
}

.single_post_container
{
    background-color: #F5F3Fc;
}

.single_post_detail_container
{
    background-color: #FFFFFF;
    box-shadow: 2px 1px 1px rgb(214, 211, 226);
}

.single_post_info
{
    display: flex;
    align-items: center;
    text-align: start;
    padding: 10px;
    background-color: #ECECEC;
    border-radius: 10px;
}

.single_post_avatar
{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    object-fit: cover;

}

.single_post_username
{
    padding-left: 15px;
    font-weight: bolder;
}

.single_post_publication_date
{
    margin-left: auto;
}

.single_post_location
{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.single_post_description
{
    text-align: justify;
    padding: 10px 0;
}

.comment_list_title
{
    font-weight: bolder;
    margin-left: 15px;
    margin-top: 15px;
}

.comment_list
{
    margin: 15px;
    height: 300px;
    overflow: auto;
}

.comment_container
{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-bottom-right-radius: 15px;
    border: solid 1px #e3e3e3;
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

.comment_header
{
    display: flex;
    padding: 10px;

}

.comment_user
{
    display: flex;
    font-size: large;
    font-weight: bolder;
    align-items: center;
}

.comment_user > img
{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.comment_ago
{
    font-size: medium;
    margin-left: auto;
}

.comment_body
{
    background-color: #f9f9f9;
    border: solid 1px #eaeaea;
    text-align: justify;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    padding: 15px;
    border-bottom-right-radius: 15px;
}


