@media screen and (max-width: 600px) {
    .user-account-container
    {
        height: calc(100% - 112px) !important;
    }
}
/* 
@media screen and (min-width: 549px) and (max-width: 600px) {
    .user-account-container
    {
        height: calc(100% - 96px) !important;
    }
} */

.user-account-container
{
    height: calc(100% - 56px);
}

.sidebar
{
    padding: 0px;
    background-color: #FFFFFF;
    height: 100%;
    text-align: center;
}

.account-photo
{
    padding-top: 15px;
    margin-bottom: 10px;
}

.account-photo > img
{
    border-radius: 1500px;
    height: 180px;
    width: 180px;
    object-fit: cover;
}

.user-pseudo
{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.user-last-first-name
{
    font-size: 20px;
}

.user-biography-style
{
    margin: 5px 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #F5F3FC;



}
.user-biography-text
{
    text-align: justify;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    
}

.follow
{
    background-color: #673090;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    width: calc(100% - 40px);

    margin: 15px 0;
    padding: 5px 0px;
    border-radius: 15px;
    border-style: none;
}

.user-posts
{
    background-color: #F5F3FC;
    height: 100%;
}

.user-stats
{
    text-align: left;
    padding-left: 25px;
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
}

.no-sidebar
{
    background-color: white;
    box-shadow: 2px 1px 1px rgb(214, 211, 226);
    padding: 5px;
    text-align: center;
    height: 220px;

}

.no-sidebar-user-photo > .account-photo > img
{
    width: 100%;
    padding: 0 5px;
}

.no-sidebar-user-pseudo-and-name
{
    padding-top: 15px;
    font-weight: bold;
}

.no-sidebar-user-stats
{
    display: flex;
    justify-content: space-evenly;
}

.no-sidebar-follow
{
    background-color: #673090;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    width: calc(100% - 20px);

    margin: 5px 0;
    padding: 3px 0px;
    border-radius: 15px;
    border-style: none;
}

.no-sidebar-post-list
{
    height: calc(100% - 220px);
    overflow: auto;
}

.with-sidebar-post-list
{
    height: 100%;
    overflow: auto;

}

.no-sidebar-post-card
{
    padding: 2px;
}

.gray
{
    background-color: white;
    border-radius: 10px;
    color: black;

}