.header-mail
{
    background-color: #ffffff;
}

.content-mail-container
{
    background-color: #c4c4c4;
    padding: 15px;
}

.content-mail
{
    background-color: #ffffff;
}

.title-mail
{
    color: #673090;
}

.message-mail
{
    text-align: justify;
}

.button-mail
{
    width: 30%;
    background-color: #673090;
    color: #ffffff;
    border-radius: 15px;
}