@media screen and (max-width: 600px) {
    .trackerFeed-sidebar-container
    {
        height: calc(100% - 112px) !important;
    }
}

/* @media screen and (min-width: 549px) and (max-width: 600px) {
    .trackerFeed-sidebar-container
    {
        height: calc(100% - 96px) !important;
    }
} */

.trackerFeed-sidebar-container
{
    height: calc(100% - 56px);
}

.content
{
    margin: 0px;
}

.trackerFeed
{
    height: 100%;
    background-color: #F5F3Fc;
    overflow: auto;
    display: flex;
}

.card
{
    margin: 30px;
    box-shadow: 2px 1px 1px rgb(214, 211, 226);
    padding: 8px;
}

.post_card
{
    width: calc(100% - 30px);
    height: 597px;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

    display: grid;
}

.media 
{
    height: 280px;
}

.post_general_ingo
{
    background-color: #ECECEC;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-left: 15px;
    margin-right: 15px;
}

.MuiCardHeader-root
{
    padding-bottom: 0px !important; 
}

.post_title
{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-bottom: 10px;
}

.ago
{
    padding-top: 15px;
}

.post_description
{
    
    text-align: justify;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    height: 59px;
}

.MuiCardActions-spacing	
{
    justify-content: space-evenly;
}

.sideBar
{
    padding: 0px;
    height: calc(100% - 25px);
}

.MuiDrawer-paperAnchorLeft
{
    width: 275px;
}

.item-container
{
    background-color: #FFFFFF;
    height: calc(50% - 44px);
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-container
{
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 15px;
}

.item-list
{
    height: 70%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto;
}

.user-item
{
    border: solid 1px gray;
    margin-bottom: 10px;
    font-size: 25px;
    text-decoration: none;
}

.user-link
{
    text-decoration: none;
    color: black;
}

.user-header
{
    padding: 10px !important;
}


.tracker-item
{
    background-color: #673090 !important;
    margin-bottom: 10px;
    border-radius: 5px !important;
    color: white !important;
    font-weight: bold;
    line-height: 2;
    text-align: center;
}

.tracker-header
{
    padding: 2px !important;
}

.informations
{
    margin: 10px;
    line-height: 2;
}

.user-photo
{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.flag
{
    height: 32px;
    width: 42px;
    border-radius: 8px;
    margin-right: 10px;
}

.post_location_and_flag
{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.post_location_date
{
    font-size: 15px;
}

.seeMorePosts
{
    width: 100%;
    color: white;
    background-color: #673090;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
    border: none;

}

